<!DOCTYPE html>
<!--
Template Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
Author: PixInvent
Website: http://www.pixinvent.com/
Contact: hello@pixinvent.com
Follow: www.twitter.com/pixinvents
Like: www.facebook.com/pixinvents
Purchase: https://1.envato.market/vuexy_admin
Renew Support: https://1.envato.market/vuexy_admin
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.

-->
<%- include('partials/head'); %>
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/wizard/bs-stepper.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/select/select2.min.css">
<!-- END: Vendor CSS-->
<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/forms/form-validation.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/forms/form-wizard.min.css">
<!-- END: Page CSS-->
<%- include('partials/header'); %> 
<!-- Basic table -->
    <section class="horizontal-wizard">
        <div class="bs-stepper horizontal-wizard-example">
        <div class="bs-stepper-header">
            <div class="step" data-target="#create-project">
            <button type="button" class="step-trigger">
                <span class="bs-stepper-box">1</span>
                <span class="bs-stepper-label">
                <span class="bs-stepper-title">Create New Project</span>
                <!-- <span class="bs-stepper-subtitle">Setup Account Details</span> -->
                </span>
            </button>
            </div>
            <div class="line">
            <i data-feather="chevron-right" class="font-medium-2"></i>
            </div>
            <div class="step" data-target="#Inbound">
            <button type="button" class="step-trigger">
                <span class="bs-stepper-box">2</span>
                <span class="bs-stepper-label">
                <span class="bs-stepper-title">Inbound</span>
                <!-- <span class="bs-stepper-subtitle">Add Personal Info</span> -->
                </span>
            </button>
            </div>
            <div class="line">
            <i data-feather="chevron-right" class="font-medium-2"></i>
            </div>
            <div class="step" data-target="#outbound-step">
            <button type="button" class="step-trigger">
                <span class="bs-stepper-box">3</span>
                <span class="bs-stepper-label">
                <span class="bs-stepper-title">OutBound</span>
                <!-- <span class="bs-stepper-subtitle">Add Address</span> -->
                </span>
            </button>
            </div>
            <div class="line">
            <i data-feather="chevron-right" class="font-medium-2"></i>
            </div>
            <div class="step" data-target="#mapping-step">
            <button type="button" class="step-trigger">
                <span class="bs-stepper-box">4</span>
                <span class="bs-stepper-label">
                <span class="bs-stepper-title">Mapping</span>
                <!-- <span class="bs-stepper-subtitle">Add Social Links</span> -->
                </span>
            </button>
            </div>
            <div class="line">
            <i data-feather="chevron-right" class="font-medium-2"></i>
            </div>
            <div class="step" data-target="#schedule-step">
            <button type="button" class="step-trigger">
                <span class="bs-stepper-box">5</span>
                <span class="bs-stepper-label">
                <span class="bs-stepper-title">Schedule</span>
                <!-- <span class="bs-stepper-subtitle">Add Social Links</span> -->
                </span>
            </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <div id="create-project" class="content">
            <div class="content-header">
                <h5 class="mb-0">Create Project</h5>
                <small class="text-muted">Enter Your Project Details.</small>
            </div>
            <% //console.log(alldata) %>
            <%= //alldata.ProjectCode %>
            <form id="frm-save-project">
                <div class="row">
                  <% if(typeof(alldata) !="undefined"){ %>
                    <input type="hidden" name="project_id" id="project_id" value="<%= alldata._id %>">
                  <% }else{ %>
                  <input type="hidden" name="project_id" id="project_id" value="">
                  <% } %>
                <div class="form-group col-md-4">
                    <label class="form-label required" for="projectcode">Project Code</label>
                    <% if(typeof(alldata) !="undefined"){ %>
                      <input type="text" name="ProjectCode" id="ProjectCode" class="form-control" placeholder="Enter Project Code" readonly value="<%= alldata.ProjectCode%>" />
                    <% }else{ %>
                      <input type="text" name="ProjectCode" id="ProjectCode" class="form-control" placeholder="Enter Project Code" />
                    <% } %>
                  </div>
                <div class="form-group col-md-4">
                    <label class="form-label required" for="ProjectName">Project Name</label>
                    <% if(typeof(alldata) !="undefined"){ %>
                    <input
                    type="text"
                    name="ProjectName"
                    id="ProjectName"
                    class="form-control"
                    placeholder="enter Project Name here"
                    aria-label="Project Code"
                    value="<%= alldata.ProjectName %>"
                    />
                    <% }else{ %>
                    <input
                    type="text"
                    name="ProjectName"
                    id="ProjectName"
                    class="form-control"
                    placeholder="enter Project Name here"
                    aria-label="Project Code"
                    />
                    <% } %>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-label required" for="CompanyName ">Company Name</label>
                    <% if(typeof(alldata) !="undefined"){ %>
                    <input
                    type="text"
                    name="CompanyName"
                    id="CompanyName"
                    class="form-control"
                    placeholder="Enter Company Name here"
                    aria-label="Company Name"
                    value="<%= alldata.CompanyName %>"
                    />
                    <% }else{ %>
                    <input
                    type="text"
                    name="CompanyName"
                    id="CompanyName"
                    class="form-control"
                    placeholder="Enter Company Name here"
                    aria-label="Company Name"
                    />
                    <% } %>
                </div>
                </div>
                
                <button class="btn btn-primary mt-1" id="save_project" type="submit">Save</button>
                
            </form>
            <hr>
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary btn-prev" disabled>
                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                <span class="align-middle d-sm-inline-block d-none">Previous</span>
                </button>
                <button class="btn btn-primary btn-next">
                <span class="align-middle d-sm-inline-block d-none">Next</span>
                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                </button>
            </div>
            </div>
            <div id="Inbound" class="content">
              <div class="row">
                  <div class="col-12">
                      <div class="card">
                          <div class="card-header">
                            <h5 class="mb-0">Inbound</h5>
                            <button type="button" id="is_active_inbound" data-value="Inactive" class="btn btn-secondary waves-effect waves-float waves-light float-right">Inactive</button>
                          </div>
                          <div class="card-body">
                            <form id="frm-save-inbound">
              
                              <input type="hidden" name="inbound_setting_id" id="inbound_setting_id" value="">
                              <div class="collapse-margin" id="accordionExample">
                                <div class="card">
                                  <div class="card-header collapsed" id="headingOne" data-toggle="collapse" role="button" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <span class="lead collapse-title" style="color:blue"> Inbound Format </span>
                                  </div>
                    
                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                                    <div class="card-body">
                                      <div class="row">
                                        <!-- Basic -->
                                        <div class="col-md-6 mb-1">
                                          <label class="required">Format</label>
                                          <select class="select2 form-control form-control-lg" id="inboundFormat" name="inbound_format">
                                            <option value="xml">XML</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="headingTwo" data-toggle="collapse" role="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="lead collapse-title" style="color:blue">Synchronize Configure </span>
                                  </div>
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="form-group col-md-2">
                                            <label class="form-label required" for="first-name">Synchronize Configure</label> 
                                        </div>
                                        <div class="form-group col-md-9">
                                          <!-- <div class="row">
                                            <div class="custom-control custom-radio col-md-2">
                                              <input type="radio" name="syncronize_configure_inbound" id="syncronize_configure_inbound" class="radio-inline" value="FTP_SFTP" checked/>
                                              <span>FTP/SFTP</span>
                                            </div>
                                          </div> -->

                                          <div class="custom-control custom-radio">
                                            <input type="radio" name="syncronize_configure_inbound" id="syncronize_configure_inbound" class="custom-control-input" value="FTP_SFTP" checked/>
                                            <label class="custom-control-label" for="syncronize_configure_inbound">FTP/SFTP</label>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="form-group col-md-2">
                                            <label class="form-label required" for="first-name">FTP/SFTP</label> 
                                        </div>
                                        <div class="form-group col-md-9">
                                          <div class="row">                
                                            <!-- <div class="custom-control custom-radio col-md-2">
                                              <input type="radio" name="sync_type" id="Sync_type_ftp" class="radio-inline" value="FTP" /><span>FTP</span>
                                            </div>
                                            <div class="custom-control custom-radio col-md-2">
                                              <input type="radio" name="sync_type" id="Sync_type_sftp" class="radio-inline" value="SFTP" /><span>SFTP</span>
                                            </div> -->
                                            <div class="col-md-2 col-6">
                                              <div class="custom-control custom-radio">
                                                <input type="radio" name="sync_type" id="Sync_type_ftp" class="custom-control-input" value="FTP" />
                                                <label class="custom-control-label" for="Sync_type_ftp">FTP</label>
                                              </div>
                                            </div>
                                            <div class="col-md-2 col-6">
                                              <div class="custom-control custom-radio">
                                                <input type="radio" name="sync_type" id="Sync_type_sftp" class="custom-control-input" value="SFTP" />
                                                <label class="custom-control-label" for="Sync_type_sftp">SFTP</label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                          <div class="form-group col-md-2">
                                              <label class="form-label required" for="first-name">FTP/SFPT Server</label>
                                          </div>
                                          <div class="form-group col-md-9">
                                              <input type="text" name="ftp_server_link" id="ftp_server_link" class="form-control" placeholder="ftp.example.com" />
                                          </div>
                                      </div>
                                      <!-- <div class="row">
                                          <div class="form-group col-md-3">
                                              <label class="form-label required" for="first-name">Host</label>
                                          </div> 
                                           <div class="form-group col-md-9">
                                              <input type="text" name="host" id="host" class="form-control" placeholder="" />
                                          </div>
                                      </div> -->
                                      <div class="row">
                                          <div class="form-group col-md-2">
                                              <label class="form-label required" for="first-name">Port</label>
                                          </div>
                                          <div class="form-group col-md-9">
                                              <input type="text" name="port" id="port" class="form-control" placeholder="" />
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="form-group col-md-2">
                                              <label class="form-label required" for="first-name">Login Name</label>
                                          </div>
                                          <div class="form-group col-md-9">
                                              <input type="text" name="login_name" id="login_name" class="form-control" placeholder="" />
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="form-group col-md-2">
                                              <label class="form-label required" for="first-name">Password</label>
                                          </div>
                                          <div class="form-group col-md-9">
                                              <input type="password" name="password" id="password" class="form-control" placeholder="" />
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="form-group col-md-2">
                                              <label class="form-label required" for="first-name">Is Password Encrypted</label>
                                          </div>
                                          <div class="form-group col-md-9">
                                            <select class="select2 form-control form-control-lg" id="is_password_encrypted" name="is_password_encrypted">
                                              <option value="yes">Yes</option>
                                              <option value="no">No</option>
                                            </select>
                                          </div>
                                      </div>
                                      <div class="row">
                                        <div class="form-group col-md-2">
                                            <label class="form-label required" for="first-name">Folder</label>
                                        </div>
                                        <div class="form-group col-md-9">
                                          <input type="text" name="folderpath" id="folderpath" class="form-control" placeholder="" />
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="form-group col-md-2">
                                            <label class="form-label required" for="first-name">Backup Folder</label>
                                        </div>
                                        <div class="form-group col-md-9">
                                          <input type="text" name="backup_folder" id="backup_folder" class="form-control" placeholder="" />
                                        </div>
                                      </div>
                                      <div class="row mt-1">
                                        <div class="col-md-3"></div>
                                        <div class="form-group col-md-9">
                                          <button type="button" id="conntest" class="btn btn-primary waves-effect waves-float waves-light">Connection Test</button>
                                          <span class="text-success ml-2" id="conn-alert" style="display: none;">Successfully connected with server</span>
                                          <!-- <span class="text-danger ml-2">Server details you have enter is wrong</span> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                              <div class="mt-1">
                                <button class="btn btn-primary" id="save_inbound" type="submit">Save</button>
                              </div>
                            </form>
                            <hr>
                            <div class="d-flex justify-content-between mt-1">
                                <button class="btn btn-primary btn-prev">
                                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                </button>
                                <button class="btn btn-primary btn-next">
                                <span class="align-middle d-sm-inline-block d-none">Next</span>
                                  <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                </button>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            
            
            
            </div>
            <div id="outbound-step" class="content">
              <div class="row">

                <div class="col-12">
                  <div class="card">
                      <div class="card-header">
                        <h5 class="mb-0">OutBound</h5>
                        <button type="button" id="is_active_outbound" data-value="Inactive" class="btn btn-secondary waves-effect waves-float waves-light float-right">Inactive</button>
                      </div>
                      <div class="card-body">
                        <form id="frm-save-outbound">
                          <input type="hidden" name="outbound_setting_id" id="outbound_setting_id" value="">
                          <div class="collapse-margin" id="accordionExample">
                            <div class="card">
                              <div class="card-header collapsed" id="headingOne" data-toggle="collapse" role="button" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <span class="lead collapse-title" style="color:blue"> OutBound Format </span>
                              </div>
                
                              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                                <div class="card-body">
                                  <div class="row">
                                    <!-- Basic -->
                                    <div class="col-md-6 mb-1">
                                      <label class="required">Format</label>
                                      <select class="select2 form-control form-control-lg" id="outbound_format" name="outbound_format">
                                        <option value="json">Json</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingTwo" data-toggle="collapse" role="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="lead collapse-title " style="color:blue">Synchronize Configure </span>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                  <div class="row">
                                    <!-- <div class="form-group col-md-3">
                                        <label class="form-label required" for="first-name">FTP/SFTP</label> 
                                    </div> -->
                                    <div class="form-group col-md-9">
                                      <!-- <input type="radio" name="sync_type_out" id="sync_type_out" checked class="radio-inline" value="API" />
                                      <span>API</span> -->
                                      <!-- <div class="custom-control custom-radio">
                                        <input type="radio" name="sync_type_out" id="sync_type_out" checked class="custom-control-input" value="API" />
                                        <label class="custom-control-label" for="sync_type_out">SFTP</label>
                                      </div> -->
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="form-group col-md-2">
                                          <label class="form-label" for="first-name">API URL</label>
                                      </div>
                                      <div class="form-group col-md-9">
                                          <input type="text" name="api_url" id="api_url" class="form-control" placeholder="" />
                                      </div>
                                  </div>
                                 
                                </div>
                              </div>
                            </div>
                            
                          </div>
                          <div class="mt-1">
                            <button class="btn btn-primary" id="save_outbound" type="submit">Save</button>
                          </div>
                        </form>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary btn-prev">
                            <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                            <span class="align-middle d-sm-inline-block d-none">Previous</span>
                            </button>
                            <button class="btn btn-primary btn-next">
                            <span class="align-middle d-sm-inline-block d-none">Next</span>
                            <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                            </button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            
            
            </div>
            <div id="mapping-step" class="content">
            <div class="content-header">
                <h5 class="mb-0">Mapping</h5>
                <!-- <small>Enter Your Social Links.</small> -->
            </div>
            <form></form>
            <!-- <form>
                <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-label" for="twitter">Twitter</label>
                    <input
                    type="text"
                    id="twitter"
                    name="twitter"
                    class="form-control"
                    placeholder="https://twitter.com/abc"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label" for="facebook">Facebook</label>
                    <input
                    type="text"
                    id="facebook"
                    name="facebook"
                    class="form-control"
                    placeholder="https://facebook.com/abc"
                    />
                </div>
                </div>
                <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-label" for="google">Google+</label>
                    <input
                    type="text"
                    id="google"
                    name="google"
                    class="form-control"
                    placeholder="https://plus.google.com/abc"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label" for="linkedin">Linkedin</label>
                    <input
                    type="text"
                    id="linkedin"
                    name="linkedin"
                    class="form-control"
                    placeholder="https://linkedin.com/abc"
                    />
                </div>
                </div>
            </form> -->
            <hr>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary btn-prev">
              <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
              <span class="align-middle d-sm-inline-block d-none">Previous</span>
              </button>
              <button class="btn btn-primary btn-next">
              <span class="align-middle d-sm-inline-block d-none">Next</span>
              <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
              </button>
            </div>
          </div>
        
        <div id="schedule-step" class="content">
          
          <div class="content-header">
              <h5 class="mb-0">Schedule</h5>
              <!-- <small>Enter Your Social Links.</small> -->
          </div>
          <form id="frm-save-schedule">
            <input type="hidden" name="schedule_setting_id" id="schedule_setting_id" value="">
            <div class="collapse-margin" id="accordionExample">
              
              <div class="card">
                <div class="card-header collapsed" id="headingTwo" data-toggle="collapse" role="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="lead collapse-title" style="color:blue">Inbound  </span>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                      <!-- <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-header">
                              <h4 class="card-title">Synchronize Configure</h4>
                            </div>
                            <div class="card-body">
                                
                            </div>
                          </div>
                        </div>
                      </div> -->
                      
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-5">
                              <!-- <input type="radio" name="s_configure_inbound" id="Schedule_configure_schedule_inbound" class="radio-inline" value="schedule" /><span>Schedule</span> -->
                              <div class="custom-control custom-radio">
                                <input type="radio" name="s_configure_inbound" id="Schedule_configure_schedule_inbound" class="custom-control-input" value="schedule" />
                                <label class="custom-control-label" for="Schedule_configure_schedule_inbound"><strong>Schedule</strong></label>
                              </div>
                            </div>
                            <div class="col-md-2 col-5">
                              <!-- <input type="radio" name="s_configure_inbound" id="Schedule_configure_click_by_user_inbound" class="radio-inline" value="click_by_user" /><span>Click By User</span> -->
                              <div class="custom-control custom-radio">
                                <input type="radio" name="s_configure_inbound" id="Schedule_configure_click_by_user_inbound" class="custom-control-input" value="click_by_user" />
                                <label class="custom-control-label" for="Schedule_configure_click_by_user_inbound"><strong>Click By User</strong></label>
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="col-md-10 mt-md-4 mt-3 relation-schedule-open">
                        <div class="form-group row">
                          <div class="col-md-2 mb-md-0 mb-1">
                            <strong>Schedule Type</strong>
                          </div>
                          <div class="col-md-9">
                            <div class="form-group">
                              <div class="row">
                                  <div class="col-md-3 col-6">
                                    <!-- <input type="radio" name="schedule_type_inbound" id="Schedule_type_recurring_inbound" class="radio-inline" value="Recurring" /><span>Recurring</span> -->
                                    <div class="custom-control custom-radio">
                                      <input type="radio" name="schedule_type_inbound" id="Schedule_type_recurring_inbound" class="custom-control-input" value="Recurring" />
                                      <label class="custom-control-label" for="Schedule_type_recurring_inbound">Recurring</label>
                                    </div>
                                  </div>
                                  <div class="col-md-3 col-6">
                                    <!-- <input type="radio" name="schedule_type_inbound" id="Schedule_type_one_time_inbound" class="radio-inline" value="OneTime" /><span>One Time</span> -->
                                    <div class="custom-control custom-radio">
                                      <input type="radio" name="schedule_type_inbound" id="Schedule_type_one_time_inbound" class="custom-control-input" value="OneTime" />
                                      <label class="custom-control-label" for="Schedule_type_one_time_inbound">One Time</label>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        
                        <div id="inbound-data-recurring">
                          <hr class="mb-2">

                          <div class="row">
                            <div class="col-md-12 mb-1">
                              <strong>Frequency</strong>
                            </div>
                            
                            <div class="col-12">
                              <div class="row">
                                <div class="form-group col-md-2">
                                  <div class="form-label required">Occurs</div>
                              </div>
                              <div class="form-group col-md-9">
                                  <select class=" form-control form-control-lg" id="occurs_time_inbound" name="occurs_time_inbound">
                                    <option value="daily">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="monthly">Monthly</option>
                                  </select>
                                  <div class="mt-2" id="selectOccursDayIn" style="">
                                    <div class="row align-items-center">
                                      <div class="col-md-2 col-4">
                                        Recurs every
                                      </div>
                                      <div class="col-md-9 col-8">
                                        <div class="row align-items-center">
                                          <div class="col-md-3 col-6 input-group bootstrap-touchspin">
                                            <input type="number" name="day_frequency_inbound_count" id="day_frequency_inbound_count" class="touchspin-min-max" value="1" />
                                          </div>
                                          <div class="col-md-6 col-6 input-group">
                                            day(s)
                                          </div>
                                        </div>
                                      </div>
                                    </div>
  
                                  </div>
                                  <div class="mt-2" id="selectOccursMonthIn" style="display:none;">
                                    <div id="monthly_fields">
                                      <div class="form-group">
                                          <div class="row align-items-center" id="selectOccursMonthIn" style="">
                                              <div class="col-md-2 mb-md-0 mb-1">
                                                <div class="d-flex align-items-center">
                                                  <div class="custom-control custom-radio-primary custom-radio">
                                                    <input type="radio" name="inbound_monthly_day" id="inbound_monthly_day" class="custom-control-input" value="day" checked />
                                                    <label class="custom-control-label" for="inbound_monthly_day">Day</label>
                                                  </div>
  
                                                  <div class="custom-control custom-radio-primary custom-radio ml-2">
                                                    <input type="radio" name="inbound_monthly_day" id="inbound_monthly_the" class="custom-control-input" value="The" />
                                                    <label class="custom-control-label" for="inbound_monthly_the">The</label>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-9" id="selectOccursMonthDayDivIn" style="">
                                                
                                                <div id="day_txt_box">
                                                    <div class="row align-items-center">
                                                      <div class="col-4 px-md-1 px-0 input-group bootstrap-touchspin">
                                                        <input type="number" name="monthly_frequency_day_inbound" id="monthly_frequency_day_inbound" class="touchspin-min-max" value="1" />
                                                      </div>
                                                      <div class="col-2 px-md-1 px-0 input-group">
                                                        of every
                                                      </div>
                                                      <div class="col-4 px-md-1 px-0 input-group bootstrap-touchspin">
                                                        <input type="number" name="monthly_frequency_day_inbound_count" id="monthly_frequency_day_inbound_count" class="touchspin-min-max" value="1" />
                                                      </div>
                                                      <div class="col-2 px-md-1 px-0 input-group">
                                                        month(s)
                                                      </div>
                                                    </div>
                                                  <!-- <div class="form-group col-md-3">
                                                    <label class="form-label required" for="first-name">Day</label>
                                                  </div>
                                                  <div class="form-group col-md-9 mb-4">
                                                    <input type="number" min="0" name="per_day" id="per_day" class="form-control" placeholder="1" />
                                                  </div> -->
                                                </div>
                                                <div class="row align-items-center" id="the_section">
                                                  
                                                  <div class="col-md-3">
                                                    <select class="form-control" id="the_day_of" name="the_day_of">
                                                      <option value="First">First</option>
                                                      <option value="Second">Second</option>
                                                      <option value="Third">Third</option>
                                                      <option value="Fourth">Fourth</option>
                                                      <option value="Last">Last</option>
                                                    </select>
                                                  </div>
                                                  <div class="col-md-3">
                                                    <select class="form-control" id="the_days" name="the_days">
                                                      <option value="Monday">Monday</option>
                                                      <option value="Tuesday">Tuesday</option>
                                                      <option value="Wednesday">Wednesday</option>
                                                      <option value="Thursday">Thursday</option>
                                                      <option value="Friday">Friday</option>
                                                      <option value="Saturday">Saturday</option>
                                                      <option value="Sunday">Sunday</option>
                                                      <option value="Weekday">Weekday</option>
                                                      <option value="Weekend">Weekend Day</option>
                                                    </select>
                                                  </div>
                                                  <div class="col-md-2">of every</div>
                                                  
                                                  <div class="col-md-2 input-group bootstrap-touchspin">
                                                    <input type="number" name="monthly_frequency_the_inbound_count" id="monthly_frequency_the_inbound_count" class="touchspin-min-max" value="1" />
                                                  </div>
                                                  <div class="col-md-2">
                                                    month(s)
                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="demo-inline-spacing" id="selectOccursWeekIn" style="display:none;">
                                    <div class="row align-items-center">
                                      <div class="col-md-2 col-4">
                                        Recurs every
                                      </div>
                                      <div class="col-md-9 col-8">
                                        <div class="row align-items-center">
                                          <div class="col-md-3 col-6">
                                            <div class="input-group bootstrap-touchspin ml-n1">
                                              <input type="number" name="weekly_frequency_inbound_count" id="weekly_frequency_inbound_count" class="touchspin-min-max" value="1" />
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-6">
                                            <div class=" input-group">
                                              Week(s) On
                                            </div>
                                          </div>
                                        </div>                                        
                                      </div>
                                      <div class="col-md-2"></div>
                                      <div class="col-md-9">
                                        <div id="weekly_fields">
  
                                          <div class="demo-inline-spacing">
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" name="occurs_weekly_fields_inbound" class="custom-control-input" value="Monday" id="colorCheck1">
                                              <label class="custom-control-label" for="colorCheck1">Monday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_inbound" value="Tuesday" id="colorCheck2">
                                              <label class="custom-control-label" for="colorCheck2">Tuesday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_inbound" value="Wednesday" id="colorCheck3">
                                              <label class="custom-control-label" for="colorCheck3">Wednesday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_inbound" value="Thursday" id="colorCheck5">
                                              <label class="custom-control-label" for="colorCheck5">Thursday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_inbound" value="Friday" id="colorCheck4">
                                              <label class="custom-control-label" for="colorCheck4">Friday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_inbound" value="Saturday" id="colorCheck6" >
                                              <label class="custom-control-label" for="colorCheck6">Saturday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_inbound" value="Sunday" id="colorCheck7" >
                                              <label class="custom-control-label" for="colorCheck7">Sunday</label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                  </div>
                              </div>
                              </div>
                            </div>
                          </div>

                          <hr class="my-2">
  
                          <div class="row">
                            <div class="col-md-12 mb-1">
                              <strong>Daily Frequency</strong>
                            </div>
                            <div class="col-12">
                              <div class="row form-group align-items-center">
                                <div class="col-md-2 mb-md-0 mb-1">
                                  <div class="custom-control custom-radio">
                                    <input type="radio" id="occursOnceAt" name="daily_frequency_type_inbound" class="custom-control-input" onclick="" value="Occurs Once At" checked="">
                                      <label class="custom-control-label" for="occursOnceAt">Occurs once at</label>
                                  </div>
                                </div>
                                <div class="col-md-9">
                                  <input type="text" id="daily_frequency_once_time_inbound" name="daily_frequency_once_time_inbound" class="form-control flatpickr-time text-left flatpickr-input" placeholder="HH:MM" style="" readonly="">
                                </div>
                              </div>
                              
                              <div class="form-group">
                                <div class="row form-group align-items-center">
                                  <div class="col-md-3">
                                    <div class="custom-control custom-radio">
                                      <input type="radio" id="occursEvery" name="daily_frequency_type_inbound" class="custom-control-input"  value="Occurs every">
                                      <label class="custom-control-label" for="occursEvery">Occurs every</label>
                                    </div>
                                  </div>
  
                                  <div class="col-md-9">
                                    <div id="recursEveryDiv" style="display: none;">
                                      <div class="row">
                                        <div class="col-md-3 col-6 input-group bootstrap-touchspin">
                                          <input type="number" name="daily_frequency_every_time_count_inbound" id="daily_frequency_every_time_count_inbound" class="touchspin-min-max" value="1" />
                                        </div>
                                        <div class="col-md-3 col-6 input-group">
                                          <select class="form-control" name="daily_frequency_every_time_unit_inbound" id="daily_frequency_every_time_unit_inbound">
                                            <option value="hour">hour(s)</option>
                                            <option value="minute">minute(s)</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                
                                <div class="form-group" id="startingEndingDiv" style="display: none;">
                                  <div class="row">
                                    <div class="col-md-3">
                                      Starting at
                                    </div>
                                    <div class="col-md-9">
                                      <div class="form-group">
                                        <input type="text" id="daily_frequency_every_time_count_start_inbound" name="daily_frequency_every_time_count_start_inbound" class="form-control flatpickr-time text-left flatpickr-input" placeholder="HH:MM" readonly="readonly">
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      Ending at
                                    </div>
                                    <div class="col-md-9">
                                      <div class="form-group">
                                        <input type="text" id="daily_frequency_every_time_count_end_inbound" name="daily_frequency_every_time_count_end_inbound" class="form-control flatpickr-time text-left flatpickr-input" placeholder="HH:MM" readonly="readonly">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
  
                          <hr class="my-2">
  
                          <div class="row">
                            <div class="col-md-12 mb-1">
                              <strong>Duration</strong>
                            </div>
                            <div class="col-12">
                              <div class="row align-items-center form-group">
                                  <div class="col-md-2">
                                      <div class="form-label required">Start Date</div>
                                  </div>
                                  <div class="col-md-9">
                                    <input type="date" name="duration_inbound_start_date" id="duration_inbound_start_date" class="form-control" placeholder="1" />
                                  </div>
                              </div>
                              <div class="row align-items-center form-group">
                                <div class="col-md-2">
                                  <div class="row w-100 text-nowrap mb-md-0 mb-1">
                                    <div class="col">
                                      <div class="custom-control custom-radio-primary custom-radio">
                                        <input type="radio" name="duration_inbound_is_end_date" id="duration_inbound_is_end_date_no" class="custom-control-input" value="no_end_date" checked />
                                        <label class="custom-control-label" for="duration_inbound_is_end_date_no">No End Date</label>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="custom-control custom-radio-primary custom-radio">
                                        <input type="radio" name="duration_inbound_is_end_date" id="duration_inbound_is_end_date_yes" class="custom-control-input" value="yes_end_date" />
                                        <label class="custom-control-label" for="duration_inbound_is_end_date_yes">End Date</label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-9">
                                  <input type="date" name="duration_inbound_end_date" id="duration_inbound_end_date" class="form-control" placeholder="1" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        

                        <div id="inbound-data-one-time" style="display: none;">
                          <div class="row align-items-center">
                            <div class="col-md-2">One-time Occurrence</div>
                            <div class="col-md-9">
                              <div class="row mx-0">
                                <div class="col-6 px-0">
                                  <input type="date" name="one_time_occurrence_inbound_date" id="one_time_occurrence_inbound_date" class="form-control" placeholder="1" />
                                </div>
                                <div class="col-6 pl-1 pr-0">
                                  <input type="text" id="one_time_occurrence_inbound_time" name="one_time_occurrence_inbound_time" class="form-control flatpickr-time text-left flatpickr-input" placeholder="HH:MM" style="" readonly="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                  
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapsed" id="headingTwo" data-toggle="collapse" role="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="lead collapse-title" style="color:blue">Outbound </span>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                      <!-- <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-header">
                              <h4 class="card-title">Synchronize Configure</h4>
                            </div>
                            <div class="card-body">
                                
                              
                            </div>
                          </div>
                        </div>
                      </div> -->



                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-5">
                              <!-- <input type="radio" name="s_configure_outbound" id="Schedule_configure_schedule_outound" class="radio-inline" value="schedule" /><span>Schedule</span> -->
                              <div class="custom-control custom-radio">
                                <input type="radio" name="s_configure_outbound" id="Schedule_configure_schedule_outound" class="custom-control-input" value="schedule" />
                                <label class="custom-control-label" for="Schedule_configure_schedule_outound"><strong>Schedule</strong></label>
                              </div>
                            </div>
                            <div class="col-md-2 col-5">
                              <!-- <input type="radio" name="s_configure_outbound" id="Schedule_configure_click_by_user_outbound" class="radio-inline" value="click_by_user" /><span>Click By User</span> -->
                              <div class="custom-control custom-radio">
                                <input type="radio" name="s_configure_outbound" id="Schedule_configure_click_by_user_outbound" class="custom-control-input" value="click_by_user" />
                                <label class="custom-control-label" for="Schedule_configure_click_by_user_outbound"><strong>Click By User</strong></label>
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="col-md-10 mt-md-4 mt-3 relation-outbound-schedule-open">
                        <div class="form-group row">
                          <div class="col-md-2 mb-md-0 mb-1">
                            <strong>Schedule Type</strong>
                          </div>
                          <div class="col-md-9">
                            <div class="form-group">
                              <div class="row">
                                  <div class="col-md-3 col-6">
                                    <!-- <input type="radio" name="schedule_type_outbound" id="Schedule_type_recurring_outbound" class="radio-inline" value="Recurring" /><span>Recurring</span> -->
                                    <div class="custom-control custom-radio">
                                      <input type="radio" name="schedule_type_outbound" id="Schedule_type_recurring_outbound" class="custom-control-input" value="Recurring" />
                                      <label class="custom-control-label" for="Schedule_type_recurring_outbound">Recurring</label>
                                    </div>
                                  </div>
                                  <div class="col-md-3 col-6">
                                    <!-- <input type="radio" name="schedule_type_outbound" id="Schedule_type_one_time_outbound" class="radio-inline" value="OneTime" /><span>One Time</span> -->
                                    <div class="custom-control custom-radio">
                                      <input type="radio" name="schedule_type_outbound" id="Schedule_type_one_time_outbound" class="custom-control-input" value="OneTime" />
                                      <label class="custom-control-label" for="Schedule_type_one_time_outbound">One Time</label>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>



                        <div id="outbound-data-recurring">

                          <hr class="mb-2">

                          <div class="row">
                            <div class="col-md-12 mb-1">
                              <strong>Frequency</strong>
                            </div>
                            
                            <div class="col-12">
                              <div class="row">
                                <div class="form-group col-md-2">
                                  <div class="form-label required">Occurs</div>
                              </div>
                              <div class="form-group col-md-9">

                                  <select class="select2 form-control form-control-lg" id="occurs_time_outbound" name="occurs_time_outbound">
                                    <option value="daily">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="monthly">Monthly</option>
                                  </select>
                                  <div class="mt-2" id="selectOccursDayInOutbound" style="">
                                    <div class="row align-items-center w-100">
                                      <div class="col-md-2 col-4">
                                        Recurs every
                                      </div>
                                      <div class="col-md-9 col-8">
                                        <div class="row align-items-center">
                                          <div class="col-md-3 col-6 input-group bootstrap-touchspin">
                                            <input type="number" name="day_frequency_outbound_count" id="day_frequency_outbound_count" class="touchspin-min-max" value="1" />
                                          </div>
                                          <div class="col-md-6 col-6 input-group">
                                            day(s)
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="mt-2" id="selectOccursMonthInOutbound" style="display:none;">
                                    <div id="monthly_fields_outbound">
                                      <div class="form-group">
                                          <div class="row align-items-center" id="selectOccursMonthIn" style="">
                                              <div class="col-md-2 mb-md-0 mb-1">
                                                <div class="d-flex align-items-center">
                                                  <div class="custom-control custom-radio-primary custom-radio">
                                                    <input type="radio" name="outbound_monthly_day" id="outbound_monthly_day" class="custom-control-input" value="day" checked />
                                                    <label class="custom-control-label" for="outbound_monthly_day">Day</label>
                                                  </div>
                                                  <div class="custom-control custom-radio-primary custom-radio ml-2">
                                                    <input type="radio" name="outbound_monthly_day" id="outbound_monthly_the" class="custom-control-input" value="The" />
                                                    <label class="custom-control-label" for="outbound_monthly_the">The</label>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-9" id="selectOccursMonthDayDivInOutbound">
                                                <div class="" id="day_txt_box_outbound">
                                                  
                                                  <div class="row align-items-center">
                                                    <div class="col-4 px-md-1 px-0 input-group bootstrap-touchspin">
                                                        <input type="number" name="monthly_frequency_day_outbound" id="monthly_frequency_day_outbound" class="touchspin-min-max" value="1" />
                                                    </div>
                                                    <div class="col-2 px-md-1 px-0 input-group">
                                                      of every
                                                    </div>
                                                    <div class="col-4 px-md-1 px-0 input-group bootstrap-touchspin">
                                                      <input type="number" name="monthly_frequency_day_outbound_count" id="monthly_frequency_day_outbound_count" class="touchspin-min-max" value="1" />
                                                    </div>
                                                    <div class="col-2 px-md-1 px-0 input-group">
                                                      month(s)
                                                    </div>
                                                  </div>
                                                  <!-- <div class="form-group col-md-3">
                                                    <label class="form-label required" for="first-name">Day</label>
                                                  </div>
                                                  <div class="form-group col-md-9 mb-4">
                                                    <input type="number" min="0" name="per_day" id="per_day" class="form-control" placeholder="1" />
                                                  </div> -->
                                                </div>
                                                <div class="row row align-items-center" id="the_section_outbound">
                                                  
                                                  <div class="col-md-3">
                                                    <select class="form-control" id="the_day_of_outbound" name="the_day_of">
                                                      <option value="First">First</option>
                                                      <option value="Second">Second</option>
                                                      <option value="Third">Third</option>
                                                      <option value="Fourth">Fourth</option>
                                                      <option value="Last">Last</option>
                                                    </select>
                                                  </div>
                                                  <div class="col-md-3">
                                                    <select class="form-control" id="the_days_outbound" name="the_days">
                                                      <option value="Monday">Monday</option>
                                                      <option value="Tuesday">Tuesday</option>
                                                      <option value="Wednesday">Wednesday</option>
                                                      <option value="Thursday">Thursday</option>
                                                      <option value="Friday">Friday</option>
                                                      <option value="Saturday">Saturday</option>
                                                      <option value="Sunday">Sunday</option>
                                                      <option value="Weekday">Weekday</option>
                                                      <option value="Weekend">Weekend Day</option>
                                                    </select>
                                                  </div>
                                                  <div class="col-md-2">of every</div>
                                                  
                                                  <div class="col-md-2 input-group bootstrap-touchspin">
                                                    <input type="number" name="monthly_frequency_the_outbound_count" id="monthly_frequency_the_outbound_count" class="touchspin-min-max" value="1" />
                                                  </div>
                                                  <div class="col-md-2">
                                                    month(s)
                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="demo-inline-spacing" id="selectOccursWeekInOutbound" style="display:none;">
                                    <div class="row align-items-center">
                                      <div class="col-md-2 col-4">
                                        Recurs every
                                      </div>
                                      <div class="col-md-9 col-8">
                                        <div class="row align-items-center">
                                          <div class="col-md-3 col-6 input-group bootstrap-touchspin ml-n1 w-100">
                                            <input type="number" name="weekly_frequency_outbound_count" id="weekly_frequency_outbound_count" class="touchspin-min-max" value="1" />
                                          </div>
                                          <div class="col-md-6 col-6 input-group">
                                            Week(s) On
                                          </div>

                                        </div>
                                        
                                      </div>
                                      <div class="col-md-2"></div>
                                      <div class="col-md-9">
                                        <div id="weekly_fields_outbound">

                                          <div class="demo-inline-spacing">
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" name="occurs_weekly_fields_outbound" class="custom-control-input" value="Monday" id="colorCheck8">
                                              <label class="custom-control-label" for="colorCheck8">Monday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_outbound" value="Tuesday" id="colorCheck9">
                                              <label class="custom-control-label" for="colorCheck9">Tuesday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_outbound" value="Wednesday" id="colorCheck10">
                                              <label class="custom-control-label" for="colorCheck10">Wednesday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_outbound" value="Thursday" id="colorCheck11">
                                              <label class="custom-control-label" for="colorCheck11">Thursday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_outbound" value="Friday" id="colorCheck12">
                                              <label class="custom-control-label" for="colorCheck12">Friday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_outbound" value="Saturday" id="colorCheck13" >
                                              <label class="custom-control-label" for="colorCheck13">Saturday</label>
                                            </div>
                                            <div class="custom-control custom-control-primary custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="occurs_weekly_fields_outbound" value="Sunday" id="colorCheck14" >
                                              <label class="custom-control-label" for="colorCheck14">Sunday</label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                              </div>
                              </div>
                            </div>
                          </div>

                          <hr class="my-2">

                          <div class="row">
                            <div class="col-md-12 mb-1">
                              <strong>Daily Frequency</strong>
                            </div>
                            <div class="col-12">
                              
                              <div class="row form-group align-items-center">
                                <div class="col-md-2 mb-md-0 mb-1">
                                  <div class="custom-control custom-radio">
                                    <input type="radio" id="occursOnceAtOutbound" name="daily_frequency_type_outbound" class="custom-control-input" onclick="" value="Occurs Once At" checked="">
                                    <label class="custom-control-label" for="occursOnceAtOutbound">Occurs once at</label>
                                  </div>
                                </div>
                                <div class="col-md-9">
                                  <input type="text" id="daily_frequency_once_time_outbound" name="daily_frequency_once_time_outbound" class="form-control flatpickr-time text-left flatpickr-input" placeholder="HH:MM" style="" readonly="">
                                </div>
                              </div>
                              
                              <div class="form-group">
                                <div class="row form-group align-items-center">
                                  <div class="col-md-2">
                                    <div class="custom-control custom-radio">
                                      <input type="radio" id="occursEveryOutbound" name="daily_frequency_type_outbound" class="custom-control-input"  value="Occurs every">
                                      <label class="custom-control-label" for="occursEveryOutbound">Occurs every</label>
                                    </div>
                                  </div>
                                  <div class="col-md-9" id="recursEveryDivOutbound" style="display:none;">
                                    <div class="row">
                                      <div class="col-md-3 col-6 input-group bootstrap-touchspin">
                                        <input type="number" name="daily_frequency_every_time_count_outbound" id="daily_frequency_every_time_count_outbound" class="touchspin-min-max" value="1" />
                                      </div>
                                      <div class="col-md-3 col-6 input-group" >
                                        <select name="daily_frequency_every_time_unit_outbound" id="daily_frequency_every_time_unit_outbound" class="form-control" id="occurs">
                                          <option value="hour">hour(s)</option>
                                          <option value="minute">minute(s)</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group" id="startingEndingDivOutbound" style="display: none;">
                                  <div class="row">
                                    <div class="col-md-3">
                                      Starting at
                                    </div>
                                    <div class="col-md-9">
                                      <div class="col-md-12 form-group">
                                        <input type="text" id="daily_frequency_every_time_count_start_outbound" name="daily_frequency_every_time_count_start_outbound" class="form-control flatpickr-time text-left flatpickr-input" placeholder="HH:MM" readonly="readonly">
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      Ending at
                                    </div>
                                    <div class="col-md-9">
                                      <div class="col-md-12 form-group">
                                        <input type="text" id="daily_frequency_every_time_count_end_outbound" name="daily_frequency_every_time_count_end_outbound" class="form-control flatpickr-time text-left flatpickr-input" placeholder="HH:MM" readonly="readonly">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <hr class="my-2">

                          <div class="row">
                            <div class="col-md-12 mb-1">
                              <strong>Duration</strong>
                            </div>
                            <div class="col-12">
                              
                              <div class="row align-items-center form-group">
                                <div class="col-md-2">
                                  <div class="form-label required">Start Date</div>
                                </div>  
                                <div class="col-md-9">
                                    <input type="date" name="duration_outbound_start_date" id="duration_outbound_start_date" class="form-control" placeholder="1" />
                                  </div>
                              </div>

                              <div class="row align-items-center form-group">
                                <div class="col-md-2">
                                  <div class="row w-100 text-nowrap mb-md-0 mb-1">
                                    <div class="col">
                                      <div class="custom-control custom-radio-primary custom-radio">
                                        <input type="radio" name="duration_outbound_is_end_date" id="duration_outbound_is_end_date_no" class="custom-control-input" value="no_end_date" checked />
                                        <label class="custom-control-label" for="duration_outbound_is_end_date_no">No End Date</label>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="custom-control custom-radio-primary custom-radio">
                                        <input type="radio" name="duration_outbound_is_end_date" id="duration_outbound_is_end_date_yes" class="custom-control-input" value="yes_end_date" />
                                        <label class="custom-control-label" for="duration_outbound_is_end_date_yes">End Date</label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-9">
                                  <input type="date" name="duration_outbound_end_date" id="duration_outbound_end_date" class="form-control" placeholder="1" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div id="outbound-data-one-time" style="display: none;">
                          <div class="row align-items-center">
                            <div class="col-md-2">One-time Occurrence</div>
                            <div class="col-md-9">
                              <div class="row mx-0">
                                <div class="col-6 px-0">
                                  <input type="date" name="one_time_occurrence_outbound_date" id="one_time_occurrence_outbound_date" class="form-control" placeholder="1" />
                                </div>
                                <div class="col-6 pl-1 pr-0">
                                  <input type="text" id="one_time_occurrence_outbound_time" name="one_time_occurrence_outbound_time" class="form-control flatpickr-time text-left flatpickr-input" placeholder="HH:MM" style="" readonly="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                  </div>
                </div>
              </div>
              
            </div>
            <!-- <div class="form-group col-md-4 mt-1">
              <button class="btn btn-primary" id="save_schedule" type="submit">Save</button>
            </div> -->
          </form>
          <hr>
          <div class="d-flex justify-content-between">
              <button class="btn btn-primary btn-prev">
              <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
              <span class="align-middle d-sm-inline-block d-none">Previous</span>
              </button>
              <button class="btn btn-success btn-submit">Submit</button>
          </div>
          </div>
      </div>
      </div>
    </section>
<!--/ Basic table -->

</div>
</div>
</div>
<!-- END: Content-->


    <!-- BEGIN: Customizer-->
    <div class="customizer d-none d-md-block"><a class="customizer-toggle d-flex align-items-center justify-content-center" href="javascript:void(0);"><i class="spinner" data-feather="settings"></i></a><div class="customizer-content">
  <!-- Customizer header -->
  <div class="customizer-header px-2 pt-1 pb-0 position-relative">
    <h4 class="mb-0">Theme Customizer</h4>
    <p class="m-0">Customize & Preview in Real Time</p>

    <a class="customizer-close" href="javascript:void(0);"><i data-feather="x"></i></a>
  </div>

  <hr />

  <!-- Styling & Text Direction -->
  <div class="customizer-styling-direction px-2">
    <p class="font-weight-bold">Skin</p>
    <div class="d-flex">
      <div class="custom-control custom-radio mr-1">
        <input
          type="radio"
          id="skinlight"
          name="skinradio"
          class="custom-control-input layout-name"
          checked
          data-layout=""
        />
        <label class="custom-control-label" for="skinlight">Light</label>
      </div>
      <div class="custom-control custom-radio mr-1">
        <input
          type="radio"
          id="skinbordered"
          name="skinradio"
          class="custom-control-input layout-name"
          data-layout="bordered-layout"
        />
        <label class="custom-control-label" for="skinbordered">Bordered</label>
      </div>
      <div class="custom-control custom-radio mr-1">
        <input
          type="radio"
          id="skindark"
          name="skinradio"
          class="custom-control-input layout-name"
          data-layout="dark-layout"
        />
        <label class="custom-control-label" for="skindark">Dark</label>
      </div>
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="skinsemidark"
          name="skinradio"
          class="custom-control-input layout-name"
          data-layout="semi-dark-layout"
        />
        <label class="custom-control-label" for="skinsemidark">Semi Dark</label>
      </div>
    </div>
  </div>

  <hr />

  <!-- Menu -->
  <div class="customizer-menu px-2">
    <div id="customizer-menu-collapsible" class="d-flex">
      <p class="font-weight-bold mr-auto m-0">Menu Collapsed</p>
      <div class="custom-control custom-control-primary custom-switch">
        <input type="checkbox" class="custom-control-input" id="collapse-sidebar-switch" />
        <label class="custom-control-label" for="collapse-sidebar-switch"></label>
      </div>
    </div>
  </div>
  <hr />

  <!-- Layout Width -->
  <div class="customizer-footer px-2">
    <p class="font-weight-bold">Layout Width</p>
    <div class="d-flex">
      <div class="custom-control custom-radio mr-1">
        <input type="radio" id="layout-width-full" name="layoutWidth" class="custom-control-input" checked />
        <label class="custom-control-label" for="layout-width-full">Full Width</label>
      </div>
      <div class="custom-control custom-radio mr-1">
        <input type="radio" id="layout-width-boxed" name="layoutWidth" class="custom-control-input" />
        <label class="custom-control-label" for="layout-width-boxed">Boxed</label>
      </div>
    </div>
  </div>
  <hr />

  <!-- Navbar -->
  <div class="customizer-navbar px-2">
    <div id="customizer-navbar-colors">
      <p class="font-weight-bold">Navbar Color</p>
      <ul class="list-inline unstyled-list">
        <li class="color-box bg-white border selected" data-navbar-default=""></li>
        <li class="color-box bg-primary" data-navbar-color="bg-primary"></li>
        <li class="color-box bg-secondary" data-navbar-color="bg-secondary"></li>
        <li class="color-box bg-success" data-navbar-color="bg-success"></li>
        <li class="color-box bg-danger" data-navbar-color="bg-danger"></li>
        <li class="color-box bg-info" data-navbar-color="bg-info"></li>
        <li class="color-box bg-warning" data-navbar-color="bg-warning"></li>
        <li class="color-box bg-dark" data-navbar-color="bg-dark"></li>
      </ul>
    </div>

    <p class="navbar-type-text font-weight-bold">Navbar Type</p>
    <div class="d-flex">
      <div class="custom-control custom-radio mr-1">
        <input type="radio" id="nav-type-floating" name="navType" class="custom-control-input" checked />
        <label class="custom-control-label" for="nav-type-floating">Floating</label>
      </div>
      <div class="custom-control custom-radio mr-1">
        <input type="radio" id="nav-type-sticky" name="navType" class="custom-control-input" />
        <label class="custom-control-label" for="nav-type-sticky">Sticky</label>
      </div>
      <div class="custom-control custom-radio mr-1">
        <input type="radio" id="nav-type-static" name="navType" class="custom-control-input" />
        <label class="custom-control-label" for="nav-type-static">Static</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="nav-type-hidden" name="navType" class="custom-control-input" />
        <label class="custom-control-label" for="nav-type-hidden">Hidden</label>
      </div>
    </div>
  </div>
  <hr />

  <!-- Footer -->
  <div class="customizer-footer px-2">
    <p class="font-weight-bold">Footer Type</p>
    <div class="d-flex">
      <div class="custom-control custom-radio mr-1">
        <input type="radio" id="footer-type-sticky" name="footerType" class="custom-control-input" />
        <label class="custom-control-label" for="footer-type-sticky">Sticky</label>
      </div>
      <div class="custom-control custom-radio mr-1">
        <input type="radio" id="footer-type-static" name="footerType" class="custom-control-input" checked />
        <label class="custom-control-label" for="footer-type-static">Static</label>
      </div>
      <div class="custom-control custom-radio mr-1">
        <input type="radio" id="footer-type-hidden" name="footerType" class="custom-control-input" />
        <label class="custom-control-label" for="footer-type-hidden">Hidden</label>
      </div>
    </div>
  </div>
</div>

    </div>
    <!-- End: Customizer-->

    <!-- Buynow Button-->
    
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <%- include('partials/footer') %>
    <!-- BEGIN: Page Vendor JS-->
    
    <script src="/app-assets/vendors/js/forms/wizard/bs-stepper.min.js"></script>
    <script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <!-- <script src="/app-assets/js/scripts/forms/form-wizard.min.js"></script> -->
    <script src="/app-assets/js/scripts/forms/form-wizard.js"></script>
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js"></script>
    <script src="/app-assets/js/scripts/forms/form-number-input.js"></script>
    <script src="/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>

    <script src="/app-assets/vendors/js/pickers/pickadate/picker.js"></script>
    <script src="/app-assets/vendors/js/pickers/pickadate/picker.date.js"></script>
    <script src="/app-assets/vendors/js/pickers/pickadate/picker.time.js"></script>
    <script src="/app-assets/vendors/js/pickers/pickadate/legacy.js"></script>
    <script src="/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
    <!-- END: Page Vendor JS-->
    <script src="/app-assets/js/scripts/forms/pickers/form-pickers.min.js"></script>
    <!-- END: Page JS-->
</html>